<h1>Blocipedia</h1>

<br>
 <div class="jumbotron">
   <h1>Blocipedia</h1>
   <p>Learn about the world or share your wealth of knowledge!</p>
   <%=link_to "Create your Wiki!", new_path, class: 'btn btn-success'%>

 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Learn About the World</h2>
     <p>Blocipedia helps you learn. Our wikis are always 100% accurate. And don't forget our premium access!</p>
   </div>
   <div class="col-md-4">
     <h2>Premium Access</h2>
     <p>Sign up for our premium plan to share private wikis with other premium users!</p>
   </div>
   <div class="col-md-4">
     <h2>Standard Access</h2>
     <p>It's Lame #GoPremium #ShowMeTheMoney</p>
   </div>
 </div>
